@import "tailwindcss";

@theme {
  --font-harmony: "HarmonyOS Sans SC";
}

@layer components {
  .link-hover {
    @apply hover:text-blue-500;
  }

  .default-transition {
    @apply transition-colors ease-in-out duration-300;
  }
}

@layer utilities {
  .anchor-name-menu-button {
    anchor-name: --menu-button;
  }
  .position-anchor-menu-button {
    position-anchor: --menu-button;
    margin-block-start: 6px;
  }
}
